<div class="col-md-8">

<h1>記事一覧</h1>
  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
      <p>カテゴリ:<%= Category.find(post.category_id).title %></p>
      <p><%= truncate(post.body, length: 10) %></p>
        <%= link_to '続きを読む',post_path(post.id),class: "btn btn-default" %>
        <p><%= post.created_at.strftime('%Y年%m月%d日')%></p>
  <% end %>

</div>

<div class="col-md-4">
  <div class="thumbnail">
    <% author = Author.first %>
    <img src="<%= author.image_url %>" alt="著者画像">
    <div class="caption">
      <h3><%= author.name %></h3>
      <p><%= author.description %></p>
    </div>
  </div>



  <div class="list-group">
  <% @posts.each do |post| %>
  <br>
  <h4><%= link_to post.title, post_path(post) %></h4>
  <% end %>
  </div>




</div>
