<div class="col-md-8">

<h1>記事一覧</h1>
  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
      <p>カテゴリ:<%= Category.find(post.category_id).title %></p>
      <p><%= truncate(post.body, length: 10) %></p>
        <%= link_to '続きを読む',post_path(post.id),class: "btn btn-default" %>
        <p><%= post.created_at.strftime('%Y年%m月%d日')%></p>
  <% end %>

</div>

<div class="col-md-4">
  <div class="thumbnail">
    <% author = Author.first %>
    <img src="https://scontent.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/r90/11223697_671152656352037_5566942386190532809_n.jpg?oh=012005fcf86c70a8cddd27763a99603f&oe=5643562F" alt="著者画像">
    <div class="caption">
      <h3>著者の名前</h3>
      <p>著者の説明です</p>
    </div>
  </div>



  <div class="list-group">
  <% @posts.each do |post| %>
  <br>
  <h4><%= link_to post.title, post_path(post) %></h4>
  <% end %>
  </div>




</div>
